{% extends "layout.html" %}
<!-- Define title -->
{% block title %}<h1>RTL video search</h1>{% endblock %}

{% block search %}
<div id="search-app">
    <div class="search">
        <form class="search-form" action="/results/" method="POST">
            <label>Search</label>
            <input class="search-box" type="text" name="textfield" placeholder="Fill in your search term..." value="">
        </form>
        <div class="search-items">
            <!--<div class="search-items__list">-->
                <!--<div class="search-no-results">No results</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
{% endblock %}

<!-- Define contents -->
{% block content %}
<form action="/initial-query/" method="POST">
<input type="text" name="textfield" size=40>
<input type="submit" value="Submit">
<p>
<a href="/advanced/">Advanced search</a>
</p>
</form>
{% endblock %}
